// custom.styl
body {
    background: url(https://api.sunweihu.com/api/bing1/api.php);
    background-repeat: no-repeat;
    background-attachment:fixed; //不重复
    background-size: cover;      //填充
    background-position:50% 50%;
}